In [ ]:
import sys
print(sys.version)

Python Syntax

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5>2:
  print('Five is greater than two')
  print('Five is greater than two')

In [ ]:
if 10>2:
print('ten is greater than two')

The number of spaces is up to you as a programmer,
 the most common use is four,
  but it has to be at least one.

In [ ]:
if 10 > 2:
 print("ten is greater than two!")
if 10 > 2:
                                      print("ten is greater than two!")

You have to use the same number of spaces
 in the same block of code,
  otherwise Python will give you an error:

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
  print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
 print("Five is greater than two!")

PYTHON COMMENTS
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

Comments starts with a #, and Python will ignore them:

In [ ]:
# Hi I'm learning Python

if 10>2:
  print('ten is greater than two')

A comment does not have to be text that explains the code,
 it can also be used to prevent Python from executing code:

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Multi Line comments

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Python Variables

Variables are containers for storing data values.

Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 10
y = "Lint"
print(x)
print(y)

In [ ]:
x

In [ ]:
y

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Casting
If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Get the Type
You can get the data type of a variable with the type() function.

In [ ]:
x = str(3)
y = int(3)
z = float(3)

print(type(x))
print(type(y))
print(type(z))

Single or Double Quotes?
String variables can be declared either by using single or double quotes:

In [ ]:
x = "clothes"
# is the same as
x = 'clothes'
y = "My name is aadesh and I teach [Ai-ML]"

Case-Sensitive
Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

Legal variable names:

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Illegal variable names

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

CAMEL CASE: Each word, except the first, starts with a capital letter:

In [ ]:
myVariableName = "John"

PASCAL CASE: Each word starts with a capital letter:

In [ ]:
MyVariableName = "John"

SNAKE CASE: Each word is separated by an underscore character:

In [ ]:
my_variable_name = "John"

Many Values to Multiple Variables:

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Make sure the number of variables matches the number of values, or else you will get an error.

One Value to Multiple Variables:

And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Unpack a Collection
If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Python - Output Variables

Output Variables
The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

You can also use the + operator to output multiple variables:

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

For numbers, the + character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x + y)

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x = 5
y = "John"
print(x, y)

**Global Variables**
Variables that are created outside of a function (as in all of the examples in the previous code cells
 are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

If you create a variable with the same name inside a function,
 this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()
print("Python is " + x)

The global Keyword:

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Also, use the global keyword if you want to change a global variable inside a function.

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

**Built-in Data Types**

In [ ]:
'''
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
'''

**Setting the Data Type:**

In Python, the data type is set when you assign a value to a variable:

In [ ]:
x = "Hello World"
print(type(x))

In [ ]:
x = 20
print(type(x))

In [ ]:
x = 20.1
print(type(x))

In [ ]:
x = 1j
print(type(x))

In [ ]:
x = ['apple']
print(type(x))

In [ ]:
x = ('apple','cherry')
print(type(x))

In [ ]:
x = range(3)
print(type(x))

In [ ]:
x = {'apple','cherry'}
print(type(x))

In [ ]:
x = {'Name':'JJ', 'Age':42}
print(type(x))

In [ ]:
x = frozenset({'apple','cherry'})
print(type(x))

In [ ]:
x = True
print(type(x))

**Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

When you run a condition in an if statement, Python returns True or False:

Print a message based on whether the condition is True or False:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

Most Values are True

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

In [ ]:
lis = [1,2,3,4]
tup = (1,2,3,4)
se ={1,2,3,4,5,6}

In [ ]:
se ={1,2,5,6,6,3,4}
print(se)

In [ ]:
my_dictionary ={'key':20}
print(my_dictionary)

** List **

1. It is a collection of Data Type/Data Structure (Element)
2. It consists of Homogeneous and heterogenous data type
3. List is of Mutable(changeable) structure
4. It can contaion duplicate elements
5. It is of ordered type with 0 base index

In [ ]:
# Homogenous list
p1 = [1,2,3,4,5,6,7]
p2 = ['apple','cherry','banana']

# Heterogeneous list
a1 = [1,2,'apple',True,45+1j]
a1 = [1+2j, 45.1,False]

In [ ]:
# Forward index = 0,1,2,3,4,5
# reverse index = -1,-2,-3,-4,-5

p = [23,3,44,65,76,88,34,'Python','ML']

In [ ]:
p[3]

In [ ]:
p[-6]

** Operations on list **
1. Insert operation

(a) insert
(b) append
(c) extend

In [ ]:
# 1.Insert
py_list = ['Python','java',33,44]

Insert operation is used to insert element at a desired/given location

In [ ]:
# insert(index, element)
py_list.insert(2,'ML')
py_list

In [ ]:
# 2. append
py_list.append('AI')
py_list

Append is used to insert element at the end of the list

In [ ]:
# 3. extend
py_list.extend([1,2,3,4,5])
py_list

Extend is used to insert multiple elements at the end of the list

2. Delete opertion

(a) remove
(b) pop
(c) clear

In [ ]:
# 1. remove
py_list.remove(44)
py_list

Remove is used to delete an element by using its name
(directly remove element)

In [ ]:
dup_list = [1,2,3,4,5,6,1,2,3,4,5,6]
dup_list.remove(1)
dup_list
# if there are duplicates then it will remove the first one from left--->right

In [ ]:
# 2. pop
py_list.pop(2)
py_list

Pop is used to delete element by using its index number.

Pop will remove the last element if not given any index number

In [ ]:
# 3. clear
dup_list.clear()
dup_list

Clear is used to remove all element from the list

** index **

it is used to find the index of any element of desire

In [ ]:
py = [1,2,3,4,5,6,7]
py.index(3)

** count **

It is used to count similar values

In [ ]:
py1 = [1,2,2,3,4,5,2,3,5,6,7,5,3,2,3,2,3,2,3,4,5]
py1.count(3)

** copy **

In [ ]:
py2 = p1.copy()
py2

Question:

** Tuple **

1. It is a collection of elements
2. Immutable data structure (Cannot add, insert, delete)
3. It is used to save in-frequent data for accidental changes
4. It can contain dupicates
5. Ordered type with 0 based index
6. It need to have more than 1 element to be called a tuple

** Tuple Operations **

1. index
2. count

** SET **

1. It is a collection of unique elements
2. Set is mutable
3. It is of unordered type
4. Cannot perform indexing because of unordered type
5. cannot be used to store anything
6. Set cannot be leaved blank as it should be of type dict

In [ ]:
s = {23,'P',44,'L','Q',33}
s

** Set Operations **
1. Insert Operation

(a) add

In [ ]:
# Add is used to insert a single element
loan = {'akash','jacky'}
loan.add('Anshul')
loan

In [ ]:
loan.add(999)
loan

(b) update

In [ ]:
# Update is used to insert multiple elements
loan.update(['a','b','c'])
loan

2. Delete operation

(a) remove-->if element present then delete-->otherwise throw error(key error)

In [ ]:
t = {1,2,3,4,5,6,7,8,9}
t.remove(3)
t

In [ ]:
t.remove(100)
t

(b) discard-->if element present then delete-->else do nothing

In [ ]:
t.discard(100)
t

(c) pop-->delete any element randomally

In [ ]:
t.pop()
t

In [ ]:
t.pop()
t

In [ ]:
t.pop()
t

3. update-->The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,'a'}

set1.update(set2)
print(set1)

Note: Both union() and update() will exclude any duplicate items.

4. Intersection--. show common elements

In [ ]:
credit = {1,2,3,4,5}
debit = {5,6,7,8,4,3,2,'ann'}
lo = {1,2,3,4}
credit.intersection(debit,lo)

In [ ]:
# You can use the & operator instead of the intersection() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

Note: The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The values True and 1 are considered the same value. The same goes for False and 0.

In [ ]:
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

Intersection_update

In [ ]:
# Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

4. union-->method returns a new set with all items from both sets.

In [ ]:
l1 = {1,4,6}
l2 = {'a','b','c'}
l1.union(l2)

In [ ]:
# Join multiple sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

In [ ]:
# The union() method allows you to join a set with other data types, like lists or tuples.
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(type(z))

# the result will be a set

5. Difference-->The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set2 - set1
print(set3)

In [ ]:
# Note: The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

Difference_update

In [ ]:
# Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

6. Symmetric Differences-->The symmetric_difference() method will keep only the elements that are NOT present in both sets.

It is the opposite of intersection

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

In [ ]:
# Use ^ to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

Note: The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

In [ ]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

** Frozenset **

frozenset is an immutable version of a set.

Like sets, it contains unique, unordered, unchangeable elements.

Unlike sets, elements cannot be added or removed from a frozenset.

In [ ]:
# Create a frozenset and check its type:

x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

copy()	 	                Returns a shallow copy

difference()	    **-**       Returns a new frozenset with the difference

intersection()	  **&**       Returns a new frozenset with the intersection

isdisjoint()	 	          Returns whether two frozensets have an intersection

issubset()	    **<= / <**  	Returns True if this frozenset is a (proper) subset of another

issuperset()	  **>= / >**  	Returns True if this frozenset is a (proper) superset of another

symmetric_difference()	**^**	Returns a new frozenset with the symmetric differences

union()	           **|**	    Returns a new frozenset containing the union

In [ ]:
a = frozenset({1, 2})
b = frozenset({3, 4})
c = frozenset({2, 3})
print(a.isdisjoint(b))
print(a.isdisjoint(c))

** Dictionary **

1. It is a collection of item (item = {Key:value} pair)
2. It is of mutable type but only value can be changed
3. in python 3.7 and above dictionaries are ordered and in previous versions it is of unordered type
4. key can never be duplicate

Key: immutable type

value: mutable type

In [ ]:
my_dict = {'Name':'John','Salary':75000,'City':'Pune'}
my_dict

In [ ]:
# To access item you need to use Key
# Indexing cannot be used
my_dict['Name']

Note: If key is used to find something and the key is not present the it will throw keyerror

If method is used in Key and is not present the it will return nothing

It is also possible to use the dict() constructor to make a dictionary.

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

** Dictionary Operations /methods**
 1. get

In [ ]:
my_dict.get("Name")

In [ ]:
# The .keys() method is used to fetch all the keys in the dictionary
my_dict.keys()

In [ ]:
# The .values() method will return a list of all the values in the dictionary.
my_dict.values()

In [ ]:
# The items() method will return each item in a dictionary, as tuples in a list.
my_dict.items()

In [ ]:
# Check if "Name" is present in the dictionary:
if "Name" in my_dict:
  print("Yes, 'Name' is one of the keys in the my_dict dictionary")

2. To insert

In [ ]:
# By giving the key(Age) an its value 25 we can insert ney item
my_dict['Age'] = 25
my_dict

Update-->it is used to insert multiple items in the dictionary

In [ ]:
my_dict.update({'a':1,'b':2,'c':3})
my_dict

In [ ]:
# We can also use this method to update dictionary
my_dict.update([('d',4),('e',5)])
my_dict

2. Delete

(a) pop---> using the key the item can be deleted

(b) popitem--> it removes the last item

In [ ]:
my_dict.pop('a')
my_dict

In [ ]:
my_dict.popitem()
my_dict

3. fromkeys()

fromkeys() method returns a dictionary with the specified keys and the specified value.

** syntax**
dict.fromkeys(key,value)

In [ ]:
# we can create a new dictionary from only keys

k1= ('key1', 'key2', 'key3')
k2 = 0

thisdict = dict.fromkeys(k1,k2)

print(thisdict)

In [ ]:
k = ('name','age','salary')
l =dict.fromkeys(k)
l

4. setdefault

if key is present then do nothing else add one

In [ ]:
my_dict.setdefault('d',4)
my_dict

In [ ]:
my_dict.setdefault('l',5)
my_dict

4. clear

In [ ]:
thisdict

In [ ]:
thisdict.clear()
thisdict

**Nested Dictionaries**

In [ ]:
# Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

myfamily

In [ ]:
'''Or, if you want to add three dictionaries into a new dictionary:
Create three dictionaries, then create one dictionary that will contain the other three dictionaries:'''

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [ ]:
myfamily

Access Items in Nested Dictionaries
To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:

In [ ]:
print(myfamily["child2"]["name"])

**Strings**


Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[-3])

Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

String Length

To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World!"
print(len(a))

Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
# Check if "basics" is present in the following text:

txt = "I'm learning python basics to implement on AI-Ml"
print("basics" in txt)

Using if statement

In [ ]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

** Slicing Strings **

By Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:6])

In [ ]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

In [ ]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

Negative Indexing

Use negative indexes to start the slice from the end of the string:

In [ ]:
'''Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):'''

b = "Hello, World!"
print(b[-5:-2])

Modify Strings

In [ ]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

In [ ]:
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

Remove Whitespace

Whitespace is the space before and/or after the actual text, and very often you want to remove this space

In [ ]:
# The strip() method removes any whitespace from the beginning or the end:

a = "    Hello, World!    "
print(a.strip()) # returns "Hello, World!"

Replace String

In [ ]:
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Split String

The split() method returns a list where the text between the specified separator becomes the list items

In [ ]:
# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

**Learn all about these methods by using the same methods as above**

capitalize()	Converts the first character to upper case

casefold()	Converts string into lower case

center()	Returns a centered string

count()	Returns the number of times a specified value occurs in a string

encode()	Returns an encoded version of the string

endswith()	Returns true if the string ends with the specified value

expandtabs()	Sets the tab size of the string

find()	Searches the string for a specified value and returns the
position of where it was found

format()	Formats specified values in a string

format_map()	Formats specified values in a string

index()	Searches the string for a specified value and returns the position of where it was found

isalnum()	Returns True if all characters in the string are alphanumeric

isalpha()	Returns True if all characters in the string are in the alphabet

isascii()	Returns True if all characters in the string are ascii characters

isdecimal()	Returns True if all characters in the string are decimals

isdigit()	Returns True if all characters in the string are digits

isidentifier()	Returns True if the string is an identifier

islower()	Returns True if all characters in the string are lower case

isnumeric()	Returns True if all characters in the string are numeric

isprintable()	Returns True if all characters in the string are printable

isspace()	Returns True if all characters in the string are whitespaces

istitle()	Returns True if the string follows the rules of a title

isupper()	Returns True if all characters in the string are upper case

join()	Joins the elements of an iterable to the end of the string

ljust()	Returns a left justified version of the string

lower()	Converts a string into lower case

lstrip()	Returns a left trim version of the string

maketrans()	Returns a translation table to be used in translations

partition()	Returns a tuple where the string is parted into three parts

replace()	Returns a string where a specified value is replaced with a specified value

rfind()	Searches the string for a specified value and returns the last position of where it was found

rindex()	Searches the string for a specified value and returns the last position of where it was found

rjust()	Returns a right justified version of the string

rpartition()	Returns a tuple where the string is parted into three parts

rsplit()	Splits the string at the specified separator, and returns a list

rstrip()	Returns a right trim version of the string

split()	Splits the string at the specified separator, and returns a list

splitlines()	Splits the string at line breaks and returns a list

startswith()	Returns true if the string starts with the specified value

strip()	Returns a trimmed version of the string

swapcase()	Swaps cases, lower case becomes upper case and vice versa

title()	Converts the first character of each word to upper case

translate()	Returns a translated string

upper()	Converts a string into upper case

zfill()	Fills the string with a specified number of 0 values at the beginning

**String Concatenation**

To concatenate, or combine, two strings you can use the + operator.

In [ ]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

**Format - Strings**

As we learned in the Python Variables, we cannot combine strings and numbers like this:

In [ ]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

But we can combine strings and numbers by using f-strings or the format() method!

**F-Strings**

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [ ]:
# Create an f-string:

age = 36
txt = f"My name is John, I am {age}"
print(txt)

Placeholders and Modifiers

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
# Add a placeholder for the price variable:

price = 59
txt = f"The price is {price} dollars"
print(txt)

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [ ]:
# Display the price with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

In [ ]:
# Perform a math operation in the placeholder, and return the result:

txt = f"The price is {20 * 59} dollars"
print(txt)

**Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

In [ ]:
# To fix this problem, use the escape character \":

# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called\nfrom the north my new"
txt

Escape Characters
Other escape characters used in Python:

\'	Single Quote

\\	Backslash

\n	New Line

\r	Carriage Return

\t	Tab

\b	Backspace

\f	Form Feed

\ooo	Octal value

\xhh	Hex value

**Python If Statement**

The if statement evaluates a condition (an expression that results in True or False). If the condition is true, the code block inside the if statement is executed. If the condition is false, the code block is skipped.

In [ ]:
# checking if the number is greater or lower
num = 50
if num > 100:
  print("Number is greater than 100")

In [ ]:
# Checking if the number if positive
num = -1
if num > 0:
  print("Number is positive")

Note: If statement, without indentation (will raise an error):

Note: You can use spaces or tabs for indentation, but you must use the same amount of indentation for all statements within the same code block.

Multiple Statements in If Block
You can have multiple statements inside an if block. All statements must be indented at the same level.

In [ ]:
age = 16
if age >= 18:
  print("You are an adult")
  print("You can vote")
  print("You have full legal rights")

Using Variables in Conditions

Boolean variables can be used directly in if statements without comparison operators.

In [ ]:
is_logged_in = ""
if is_logged_in:
  print("Welcome back!")

Python can evaluate many types of values as True or False in an if statement.

Zero (0), empty strings (""), None, and empty collections are treated as False. Everything else is treated as True.

This includes positive numbers (5), negative numbers (-3), and any non-empty string (even "False" is treated as True because it's a non-empty string).

**Python Elif Statement**

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

The elif keyword allows you to check multiple expressions for True and execute a block of code as soon as one of the conditions evaluates to True.

In [ ]:
a = 33
b = 30
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

Multiple elif statements

In [ ]:
result = 50

if result >= 90:
  print("Grade: A")
elif result >= 80:
  print("Grade: B")
elif result >= 70:
  print("Grade: C")
elif result >= 60:
  print("Grade: D")

How Elif Works

When you use elif, Python evaluates the conditions from top to bottom. As soon as it finds a condition that is true, it executes that block and skips all remaining conditions.

Important: Only the first true condition will be executed. Even if multiple conditions are true, Python stops after executing the first matching block.

In [ ]:
age = 60

if age < 13:
  print("You are a child")
elif age < 20:
  print("You are a teenager")
elif age < 30:
  print("You are an adult")
elif age < 50:
  print("You are a senior")

When to Use Elif

Use elif when you have multiple mutually exclusive conditions to check. This is more efficient than using multiple separate if statements because Python stops checking once it finds a true condition.

In [ ]:
day = 3

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

**Python Else Statement**

The Else Keyword

The else keyword catches anything which isn't caught by the preceding conditions.

The else statement is executed when the if condition (and any elif conditions) evaluate to False.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Else Without Elif

You can also have an else without the elif:

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

Complete If-Elif-Else Chain

You can combine if, elif, and else to create a comprehensive decision-making structure.

In [ ]:
temperature = 8

if temperature > 30:
  print("It's hot outside!")
elif temperature > 20:
  print("It's warm outside")
elif temperature > 10:
  print("It's cool outside")
else:
  print("It's cold outside!")

It's cold outside!

Else as Fallback

The else statement acts as a fallback that executes when none of the preceding conditions are true. This makes it useful for error handling, validation, and providing default values.

In [ ]:
username = ""

if len(username) > 0:
  print(f"Welcome, {username}!")
else:
  print("Error: Username cannot be empty")

Error: Username cannot be empty

Python Shorthand If

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
a = 5
b = 2
if a > b: print("a is greater than b")

Note: You still need the colon : after the condition.

Short Hand If ... Else

If you have one statement for if and one for else, you can put them on the same line using a conditional expression:

In [ ]:
# This is called a conditional expression (sometimes known as a "ternary operator").
a = 2
b = 330
print("A") if a > b else print("B")

B

Assign a Value With If ... Else

You can also use a one-line if/else to choose a value and assign it to a variable:

In [ ]:
a = 10
b = 20
bigger = a if a > b else b
print("Bigger is", bigger)

Bigger is 20

The syntax follows this pattern:

variable = value_if_true if condition else value_if_false

In [ ]:
# One line, three outcomes:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
'''Example
Setting a default value:'''

username = ""
display_name = username if username else "Guest"
print("Welcome,", display_name)

Welcome, Guest

When to Use Shorthand If

Shorthand if statements and ternary operators should be used when:

The condition and actions are simple

It improves code readability

You want to make a quick assignment based on a condition


Important: While shorthand if statements can make code more concise, avoid overusing them for complex conditions. For readability, use regular if-else statements when dealing with multiple lines of code or complex logic.

In [ ]:
# Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
# Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
# Test if a is NOT greater than b:

a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
# Combining and, or, and not:

age = 25
is_student = False
has_discount_code = True

if (age < 18 or age > 65) and not is_student or has_discount_code:
  print("Discount applies!")

Discount applies!

When combining multiple logical operators, use parentheses to make your intentions clear and control the order of evaluation.

In [ ]:
# Assignment to explain this code
# Using parentheses for complex conditions:

temperature = 25
is_raining = True
is_weekend = True

if (temperature > 20 and not is_raining) or is_weekend:
  print("Great day for outdoor activities!")

Great day for outdoor activities!

Nested if else

In [ ]:
# Checking multiple conditions with nesting:

age = 16
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

You are too young to drive

In [ ]:
# Three levels of nesting:

score = 85
attendance = 90
submitted = True

if score >= 60:
  if attendance >= 80:
    if submitted:
      pass
    else:
      print("Pass but missing assignment")
  else:
    print("Pass but low attendance")
else:
  print("Fail")

**For loop**

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc

In [ ]:
# Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.

In [ ]:
# Loop through the letters in the word "Zimbabwe":

for x in "Zimbabwe":
  print(x)

Z
i
m
b
a
b
w
e

The **break** Statement

With the break statement we can stop the loop before it has looped through all the items:

In [ ]:
# Exit the loop when x is "banana":

fruits = ["apple", "cherry", "banana","grapes","mangoes"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
cherry
banana

In [ ]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = [1,2,3,4,5,6,7,8,9,0]
for x in fruits:
  if x == 7:
    break
  print(x)

1
2
3
4
5
6

The **continue** Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
# Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

The **range()** Function

To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

Note that range(6) is not the values of 0 to 6, but the values 0 to 5.

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(10, 30), which means values from 10 to 30 (but not including 30):

In [ ]:
for x in range(10, 30):
  print(x)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(10, 30, 2):

In [ ]:
for x in range(10, 30, 2):
  print(x)

10
12
14
16
18
20
22
24
26
28

Slicing Ranges

Like other sequences, ranges can be sliced to extract a subsequence

In [ ]:
r = range(10)
print(r[2])
print(r[:3])

2
range(0, 3)

Ranges support membership testing with the ***in*** operator.

In [ ]:
# Test if the numbers 6 and 7 are present in a range:

r = range(0, 10, 2)
print(6 in r)
print(7 in r)

True
False

**Else** in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished

In [ ]:
# Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
for x in range(30):
  if x == 10: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
9

**Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
# Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

The **pass** Statement

Just like if statement for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [1]:
for x in [0, 1, 2]:
  pass

The **while** Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [13]:
# Print i as long as i is less than 20:
i = 1
while i < 20:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

In [2]:
'''With the break statement we can stop the loop even if the while condition is true:
Exit the loop when i is 3:'''

i = 1
while i < 20:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [6]:
'''With the continue statement we can stop the current iteration, and continue with the next:
Continue to the next iteration if i is 3:'''

i = 0
while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5

The **else** Statement

With the else statement we can run a block of code once when the condition no longer is true:

In [7]:
# Print a message once the condition is false:

i = 1
while i < 5:
  print(i)
  i += 1
else:
  print("i is no longer less than 5")

1
2
3
4
i is no longer less than 5

**Exception Handling **

**Try Except**

The ***try*** block lets you test a block of code for errors.

The ***except*** block lets you handle the error.

The ***else*** block lets you execute code when there is no error.

The ***finally*** block lets you execute code, regardless of the result of the try- and except blocks.

When an error occurs, or exception as we call it, Python will normally stop and generate an error message.

These exceptions can be handled using the try statement:

In [17]:
# The try block will generate an exception, because x is not defined:

try:
  print(na)
except:
  print("An exception occurred")

An exception occurred

In [18]:
na

NameError: name 'na' is not defined

Since the try block raises an error, the except block will be executed.

Without the try block, the program will crash and raise an error:

In [ ]:
print(na)

NameError: name 'na' is not defined

Many Exceptions

You can define as many exception blocks as you want, e.g. if you want to execute a special block of code for a special kind of error:

In [21]:
# Print one message if the try block raises a NameError and another for other errors:

try:
  print(na)
except NameError:
  print("Variable na is not defined")
except:
  print("Something else went wrong")

Variable na is not defined

Else

You can use the else keyword to define a block of code to be executed if no errors were raised:

In [ ]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

Finally

The finally block, if specified, will be executed regardless if the try block raises an error or not.

In [22]:
try:
  print(na)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [ ]:
try:
  f = open("demofile.txt")
  try:
    f.write("Lorum Ipsum")
  except:
    print("Something went wrong when writing to the file")
  finally:
    f.close()
except:
  print("Something went wrong when opening the file")

Something went wrong when opening the file

Raise an exception

you can choose to throw an exception if a condition occurs.

To throw (or raise) an exception, use the raise keyword.

In [23]:
# Raise an error and stop the program if x is lower than 0:

x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

The raise keyword is used to raise an exception.

You can define what kind of error to raise, and the text to print to the user.

In [25]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

**Python User Input**

Python allows for user input.

That means we are able to ask the user for input.

The following example asks for your name, and when you enter a name, it gets printed on the screen:

In [27]:
print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:
emil
Hello emil

Python stops executing when it comes to the input() function, and continues when the user has given some input.

Using prompt

In the example above, the user had to input their name on a new line. The Python input() function has a prompt parameter, which acts as a message you can put in front of the user input, on the same line:

In [28]:
# Add a message in front of the user input:

name = input("Enter your name:")
print(f"Hello {name}")

Enter your name:emil
Hello emil

Multiple Inputs

You can add as many inputs as you want, Python will stop executing at each of them, waiting for user input:

In [29]:
name = input("Enter your name:")
print(f"Hello {name}")
fav1 = input("What is your favorite animal:")
fav2 = input("What is your favorite color:")
fav3 = input("What is your favorite number:")
print(f"Do you want a {fav2} {fav1} with {fav3} legs?")

Enter your name:emil
Hello emil
What is your favorite animal:dog
What is your favorite color:blue
What is your favorite number:2
Do you want a blue dog with 2 legs?

Input Number

The input from the user is treated as a string. Even if, in the example above, you can input a number, the Python interpreter will still treat it as a string.

You can convert the input into a number with the float() function:

In [31]:
import math
x = input("Enter a number:")
print(type(x))

#find the square root of the number:
y = math.sqrt(float(x))

print(f"The square root of {x} is {y}")

Enter a number:4
<class 'str'>
The square root of 4 is 2.0

Validate Input

It is a good practice to validate any input from the user. In the example above, an error will occur if the user inputs something other than a number.

To avoid getting an error, we can test the input, and if it is not a number, the user could get a message like "Wrong input, please try again", and allowed to make a new input:

In [33]:
# Keep asking until you get a number:

y = True
while y == True:
  x = input("Enter a number:")
  try:
    x = float(x);
    y = False
  except:
    print("Wrong input, please try again.")

print("Thank you!")

Enter a number:a
Wrong input, please try again.
Enter a number:sdj
Wrong input, please try again.
Enter a number:wedfho
Wrong input, please try again.
Enter a number:adksjf
Wrong input, please try again.
Enter a number:aoshf
Wrong input, please try again.
Enter a number:skdbjf
Wrong input, please try again.
Enter a number:sldfbj
Wrong input, please try again.
Enter a number:4
Thank you!